:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


section{
  width: 100%;
  display: grid;
  justify-items: center;
}

section input{
  width: 25%;
  padding: .5rem 1rem
}

@media (max-width: 450px) {
  section input{
    width: 70%;
  }
}

/* 
    TIPOS DE POKEMONES  
*/
.bug {
  background: #aedf78;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #a5a5a5;
}

.poison {
  background: #611380;
}

.electric {
  background: #f9be00;
}
.ground {
  background: #bfac21;
}

.fairy {
  background: #f87ea7;
}

.fighting {
  background: #e81319;
}
.psychic {
  background: #8a0532;
}

.ghost {
  background: #8e55a4;
}
.rock {
  background: #776a3e;
}
.ice {
  background: #66d1e5;
}
.flying {
  background: #5eb9b2;
}
.dark {
  background: #2d221c;
}

.dragon {
  background: #29036a;
}

.steel {
  background: #7b8e8a;
}
.unknown {
  background: #454545;
}

.shadow {
  background: #4f4f4f;
}