:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.box{
  width: 100%;
  display: grid;
  justify-items: center;
}

.box input{
  width: 25%;
  padding: .5rem 1rem
}

.carta-poke{
  background-color: #0b4aa3;
  text-align: center;
  padding: .5rem 1rem;
  width: 180px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 1rem;
}
.carta-poke h2{
  text-transform: capitalize;
}

.carta-poke img{
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}

.carta-poke ul{
  list-style: none;
  text-align: left;
  padding: 0;
}

.carta-poke ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carta-poke ul li span{
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .box input{
    width: 50%;
  }
}

@media (max-width: 500px) {
  .carta-poke{
    width: 270px;
  }
}

